{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdproject"
    
    },
      "cloudant": {
      "db": "https://picheredlyesehistrantimm:hrfo2alQFdcqXnVv4OMeyX3O@jhead12.cloudant.com/userstatus"
   
    } 
  }
}
