{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdproject"
    
    },
      "cloudant": {
      "db": "https://mureldiedifirldeastandsc:cOD04yCwRB6ifex2iwvk7CTl@jhead12.cloudant.com/userstatus"
   
    } 
  }
}
