/*
Joshua Head
ASD 
0313

*/


body{
	margin: 0 auto;
	background: #b3b3b3;
}

#home {

	background: #ff6666;

}
#color{
	height: 300px;
	widows: 300px;
	


}
/*.ui-title{
	padding-left: 20px;

}*/

.menu{
	
	border:2px ;
	width:250px;
	float: left;	
	display: block;
	position: absolute;

}
.menu_2{
	
	border:2px ;
	width:250px;
	float: left;	
	display: block;
	position: absolute;
}.menu_3{
	
	border:2px ;
	width:250px;
	float: left;	
	display: block;
	position: absolute;
}
.menu_4{
	
	border:2px ;
	width:250px;
	float: left;	
	display: block;
	position: absolute;
}.menu_5{
	
	border:2px ;
	width:250px;
	float: left;	
	display: block;
	position: absolute;
}.menu_6{
	
	border:2px ;
	width:250px;
	float: left;	
	display: block;
	position: absolute;
}.menu_7{
	
	border:2px ;
	width:250px;
	float: left;	
	display: block;
	position: absolute;
}


.cta{
	height: 500px;
	background-color: #ffffff;

}.cta2{
	height: 500px;
	background-color: #6666ff;

}

.m1{
	border: 20px;


}

.ui-icon-big-gear{
	

}
#hvbt{
	position: absolute;
	height: 20px;
	width: 200px;
	margin-top: 400px;
	margin-left: 150px;


}
#profile .sbtn{

	z-index: -1;
}
.error{	
	color:#ff0000;
	text-decoration: none;
}