/*
Joshua Head
ASD 
0313

*/


body{
	margin: 0 auto;
	background: grey;
}
#color{
	height: 300px;
	widows: 300px;
	background-color: 000;


}
.ui-title{
	padding-left: 20px;

}

.menu{
	
	border:2px #800000;
	width:250px;
	float: left;	
	display: block;
	position: absolute;

}.menu_2{
	
	border:2px #800000;
	width:250px;
	float: left;	
	display: block;
	position: absolute;
}
.grid{

	

}

.cta{
	height: 500px;
	background-color: #ff0000;

}.cta2{
	height: 500px;
	background-color: #6666ff;

}

.m1{
	border: 20px;


}

.ui-icon-big-gear{
	

}
#hvbt{
	position: absolute;
	height: 20px;
	width: 200px;
	margin-top: 400px;
	margin-left: 150px;


}
