/*
Joshua Head
ASD 
0313

*/


body{
	margin: 0 auto;
	background: grey;
}
#color{
	height: 300px;
	widows: 300px;
	background-color: 000;


}
.ui-title{
	padding-left: 20px;

}

.menu{
	
	border:2px #800000;
	width:250px;
	float: left;	
	display: block;

}.menu_2{
	
	border:2px #800000;
	width:250px;
	float: left;	
	display: block;

}
.grid{

	width: 36px;
	height: 36px;
	display: block;

}

.m1{
	border: 20px;


}

.ui-icon-big-gear{
	

}
